
.usermain{
   background-color: #E5E5E5;
   .cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

   }
   
}


//Usertable styles

.tablemain{
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: stretch;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    
    table{
        width: 100%;
        font-size: 12px;
        min-width: 500px;
        overflow-x: auto;
        border-collapse: collapse;
        tr{border:1px solid #fff}
        // tr{
        //     border-style:  groove hidden ridge;
        //     border-color: #545F7D;
        // }
        th{
            color: #545F7D;
            font-weight: 600;
            font-size: 16px;
            padding: 8px;
        }
        thead{
            margin-bottom: 40px;
        }
        td{
            color:#545F7D;
            padding: 10px 20px;
        }
        th,td, table{
            text-align: left;
            font-size: 12px;
            // border: 1px solid #545F7D;
            // border-collapse: collapse;
        }
    }     
}
tr{
    
    outline: 1px #f4f6fc solid;
    
}

.pagination {
    justify-content: center;
    display: flex;
    padding-left: 0;
    list-style: none;
  }

@media (max-width: 800px){
    .cards{
        flex-wrap: wrap;
    }
}